/* screen - personnes-ayant-signale-l-article-urgent-1 */

.personnes-ayant-signale-l-article-urgent-1 {
  align-items: center;
  background-color: var(--white);
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: -55px;
  min-height: 172px;
  padding: 19px 0;
  width: 397px;
}

.personnes-ayant-signale-l-article-urgent-1 .souhaitez-vous-signa {
  letter-spacing: 0;
  line-height: 140px;
  min-height: 68px;
  text-align: center;
  white-space: nowrap;
  width: 340px;
}

.personnes-ayant-signale-l-article-urgent-1 .frame-1294 {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  gap: 23px;
  min-width: 333px;
  padding: 0 55px;
}

.personnes-ayant-signale-l-article-urgent-1 .call-to-action {
  align-items: flex-start;
  background-color: var(--scarlet-gum);
  border: 1px none;
  border-radius: 5px;
  display: flex;
  height: 48px;
  overflow: hidden;
  padding: 13.4px 12.5px;
  width: 86px;
}

.personnes-ayant-signale-l-article-urgent-1 .annuler {
  height: 19px;
  letter-spacing: 0;
  line-height: normal;
  min-width: 61px;
  text-align: center;
}

.personnes-ayant-signale-l-article-urgent-1 .call-to-action-1 {
  align-items: flex-start;
  background-color: var(--scarlet-gum);
  border: 1px none;
  border-radius: 5px;
  display: flex;
  height: 48px;
  overflow: hidden;
  padding: 13.5px 7.5px;
  width: 114px;
}

.personnes-ayant-signale-l-article-urgent-1 .je-commente {
  height: 19px;
  letter-spacing: 0;
  line-height: normal;
  min-width: 99px;
  text-align: center;
}
