/* screen - supprimer-une-newsletter */

.supprimer-une-newsletter {
  align-items: center;
  background-color: var(--white);
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: -71px;
  min-height: 156px;
  overflow-x: hidden;
  padding: 19px 0;
  width: 283px;
}

.supprimer-une-newsletter .tes-vous-certain-de {
  letter-spacing: 0;
  line-height: 140px;
  min-height: 52px;
  text-align: center;
  white-space: nowrap;
  width: 223px;
}

.supprimer-une-newsletter .frame-1294 {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  gap: 23px;
  min-width: 333px;
  padding: 0 69px;
}

.supprimer-une-newsletter .call-to-action {
  align-items: flex-start;
  background-color: var(--scarlet-gum);
  border: 1px none;
  border-radius: 5px;
  display: flex;
  height: 48px;
  overflow: hidden;
  padding: 13.4px 30.5px;
  width: 86px;
}

.supprimer-une-newsletter .oui {
  height: 19px;
  letter-spacing: 0;
  line-height: normal;
  min-width: 25px;
  text-align: center;
}

.supprimer-une-newsletter .call-to-action-1 {
  align-items: flex-start;
  background-color: var(--scarlet-gum);
  border: 1px none;
  border-radius: 5px;
  display: flex;
  height: 48px;
  overflow: hidden;
  padding: 13.4px 10.5px;
  width: 86px;
}

.supprimer-une-newsletter .plus-tard {
  height: 19px;
  letter-spacing: 0;
  line-height: normal;
  min-width: 65px;
  text-align: center;
}
